.page-header {
  background-color: #81b3d2 ;
  display: block;
}

.site-list__item {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: center;
  color: white;
  background-color: #81b3d2 ;
  width: 320px;
  height: 55px;
  list-style-type: none;
  margin-left: -50px;
  padding-left: -50px;
}

.site-list__item a {
  color: white;
  }

.reasons__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.features {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.reasons__description {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
